.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #113c55;
    align-items: center;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #fdf9f7;
    font-size: 25px;
    height: 80px;
}

