.pageWrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 70%;
    color: #ffff;
    justify-content: center;
    padding: 2rem;
    margin-top: 6rem;
    background-color: #113c55;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.profile {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 400px;
    margin: 5px;
    font-size: 20px;
}

.profileImage{
    display: flex;
    align-items: center;
    justify-items:center;
    margin: 5px;
    max-width: 400px;
    
}

.profileContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    color: #ffff;
    justify-content: center;
    padding: 2rem;
    background-color: #113c55;
}
.socialIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin-top: 1rem;
   
}

.linkedIn {
    margin-right: 1rem;
}

.gitHub {
    margin-left: 1rem;
}

.resume {
    display: flex;
    color: #ffff;
    justify-content: center;
    max-width: 250px;
}

.button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #fdf9f7;
    padding: 0 32px;
    border-radius: 6px;
    color: #150b04;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}
.button:hover {
    transform: translateY(-2px);
}
.button:active{
    transform: translateY(2px);
}


