.pageWrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    background-color: #13263a;

}

.container {
    display: flex;
    height: 400px;
    width: 80%;
    color: #ffff;
    justify-content: center;
    padding: 2rem;
    margin: 6rem 0;
    box-shadow: rgb(255, 252, 252) 0px 15px 25px, rgb(255, 255, 255) 0px 5px 10px
}

.profile {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 900px;
    margin: 5px;
    font-size: 20px;
}

.profileImage{
    display: flex;
    align-items: center;
    justify-items:center;
    margin: 5px;
    width: 400px;
    
}

.profileContainer {
    display: flex;
    height: 200px;
    width: 80%;
    color: #ffff;
    justify-content: center;
    padding: 2rem;
    margin: 6rem 0;
    box-shadow: rgb(255, 252, 252) 0px 15px 25px, rgb(255, 255, 255) 0px 5px 10px
}
.socialIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 1rem;
   
}

.linkedIn {
    margin-right: 1rem;
}

.gitHub {
    margin-left: 1rem;
}

.resume {
    display: flex;
    color: #ffff;
    margin: auto;
    justify-content: center;
    width: 70%;
}

.button {
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
will-change: box-shadow,transform;
background: radial-gradient( 100% 100% at 100% 0%, #5ba7c0 0%, #4152d6 100% );
box-shadow: rgb(102, 97, 97) 0px 15px 25px, rgb(143, 132, 132) 0px 5px 10px;

padding: 0 32px;
border-radius: 6px;
color: #fff;
height: 48px;
font-size: 18px;
text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
.button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}


