
.scrollBar{
    display: flex;
    align-items: center;
    width:50%;
    height: 60px;
    margin: auto;
    overflow-x: hidden;
    background-color: #f7d9c7c0;
    border: 4px solid #113c55;
    border-radius: 12px;
}
.imageContainer {
    margin-right: 10px;
}
.image {
    animation-name: leftToRight;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes leftToRight {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(-700px);
    }
}