.pageWrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.container {
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 2rem;
    margin: 6rem 0;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-radius: 2px;
}

.aboutMe {
    color: white;
    font-size: 26px;;
}

.linkMe {
   display: flex;
   flex-direction: column;
}
