.pageWrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.profile {
    display: flex;
    margin-top: 280px;
    border-radius: 12px; 
    height: 300px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    justify-content: center;
    font-size:40px;
    text-align: center;
    border: 2px solid #2c5887;

}

.profile > p {
    font-family: 'Raleway', sans-serif;
}
.container {
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 2rem;
    margin: 6rem 0;
    
}

.projectPreview {
    color: black;
}
.aboutMe {
    color: white;
    font-size: 40px;
    width: 1800px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 12px; 
    margin-right: 2px;
    border: 2px solid #2c5887;
}

.linkMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 12px;
    margin-left: 2px;
    

}

.button {
    font-weight: 700;
    padding:0.9em 1.7em;
    margin: 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#ffffff;
    background-color:  #328ae7;
    text-align:center;
    transition: all 0.2s;
    box-shadow: 0 2px; 
    cursor: pointer;
}

.button:hover {background-color: #5261e9}

.button:active {
  background-color: #4a6fe9;
  /* box-shadow: 0 5px #ffffff; */
  transform: translateY(4px);
  
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.linkedIn {
    margin-right: 5px;
}
.gitHub {
    margin-left: 5px;
}

@media only screen and (max-width: 480px) {
    .container {
        flex-wrap: wrap;
    }
}